
nav, .contact, .aboutme, footer {
    background-color: #f3efea;
}

.home, .project {
    background-color: rgb(164, 100, 224);
}

h1 {
    font-family: 'Roboto', sans-serif;
    ;
}

nav {
    display: flex;
    justify-content: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
    border-bottom: none;
    transition: border-bottom 1s linear;

}

a:hover {
    border-bottom: 1px solid brown;
    color: black;
}



img {
    width: 50%;
    border-radius: 50%;
    border: 2px solid white;
}

.home, .aboutme, .project {
    height: 100vh;
}


@media screen and (min-width: 768px) {
    ul { 
        display: flex;
        margin: 15px;
        gap: 10px;
    }
    
    nav {
        justify-content: flex-end;
    }

    .home, .aboutme {
        height: 80vh;
    }
}