
nav, .contact, .aboutme, footer {
    background-color: #f3efea;
}

.home, .aboutme, .project {
    height: 100vh;
}

h1 {
    color: white;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Animation */
.bottom-text {
    animation: hoppa 4s;
    color: rgb(235, 200, 238);
}


@keyframes hoppa {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    50% { 
        transform: scale(1,1);
        opacity: 1;
    }


    100% {
        transform: scale(1);
    }
}

/* Header och Navigering */

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 1;

}

li {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    text-align: center;
    color: black;
    border-bottom: none;
    transition: border-bottom 1s linear;

}

.nav-link:hover {
    border-bottom: 1px solid brown;
    color: black;
}


.home {
    background-color: blueviolet;
    position: relative;
}

.header-text {
   position: absolute;
   text-align: center;
   top: 40%;
}

/* Om mig  */

.aboutme {
    position: relative;
}

.aboutme-text {
    position: absolute;
    padding-left: 20px;
    width: 50%;
    top: 20%;
}


.skills {
    list-style-type: circle;
}

.img-container, img {
    position: absolute;
    width: 60%;
    border-radius: 50%;
    top: 25%;
    left: 35%;
}

img {
    border: 1px solid white;
}

/* Projekt */

.project {
    background-color: rgb(164, 100, 224);
    text-align: center;
    padding-top: 20px;
}

/* Footer */

footer {
    display: flex;
    justify-content: flex-end;
    height: 15vh;
}

.bi {
    font-size: 45px;
    padding: 5px;
    color: rgb(83, 70, 94);
}

.bi:hover {
    color: rgb(112, 96, 126);

}


@media screen and (min-width: 768px) {
    .nav-ul { 
        display: flex;
        margin: 15px;
        gap: 10px;
    }
    
    nav {
        justify-content: flex-end;
    }

    .home, .aboutme {
        height: 80vh;
    }

    .img-container, img {
        width: 45%;
        top: 15%;
        left: 40%;
    }

    footer {
        height: 20vh;
    }
}